$roboto-font-path: "/assets/fonts/" !default;
$icons-font-path: "/assets/fonts/" !default;
$mdi-font-path: "/assets/fonts" !default;

@import 'bower_components/Materialize/sass/materialize.scss';
@import 'bower_components/mdi/scss/materialdesignicons.scss';
