<h1>Pets</h1>

<p>
  {{link-to "New Pet" "pets.new" }}
</p>

{{#if model.length}}
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Type
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |pet|}}
        <tr>
          <td>
            {{pet.name}}
          </td>
          <td>
            {{pet.type}}
          </td>
          <td>
            {{link-to "Edit" "pet.edit" pet}}
          </td>
          <td>
            {{link-to "Show" "pet" pet}}
          </td>
          <td>
            <a href="#" {{action "remove" pet}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Pets found
  </p>
{{/if}}
