<h1>{{model.name}}</h1>
{{#if model.pets.length}}
  <h2>Pets</h2>
  <ol>
  {{#each model.pets as |pet|}}
    <li>{{pet.name}}</li>
  {{/each}}
  </ol>
{{else}}
<p><strong>No pets?</strong></p>
{{/if}}
  {{link-to "New pet" "pets.new" }}

{{outlet}}
