<h1>Edit Owner</h1>
<form {{action "save" on="submit"}}>
  <div>
    <label>
      Name
      {{input type="text" value=model.name}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save" class='btn'>
  </div>
</form>


