<h2>New Owner</h2>
<form {{action "save" on="submit"}}>
  <div>
    <label>
      Name
      {{input type="text" value=owner.name}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save" class='btn'>
  </div>
</form>

