<h1>Owners</h1>

<p>
  {{link-to "New owner" "owners.new" }}
</p>
<div class="row">
  <div class="col s6">
    {{#if model.length}}
      <table class='striped'>
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |owner|}}
            <tr>
              <td>
                {{owner.name}}
              </td>
              <td>
                {{#link-to "owner.edit" owner}}<i class='mdi mdi-24px mdi-pencil'></i>{{/link-to}}
                {{#link-to "owner" owner}}<i class='mdi mdi-24px mdi-eye'></i>{{/link-to}}
                <a href="#" {{action "remove" owner}}><i class='mdi mdi-24px mdi-delete'></i></a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p id="blankslate">
        No owners found
      </p>
    {{/if}}
  </div>
  <div class="col s6">
    {{outlet}}
  </div>
</div>
