<h1>New Pet</h1>
<form {{action "save" on="submit"}}>
  <div class="row">
    <div class="input-field col s12">
      {{input type="text" value=pet.name}}
      <label class="active">
        Name
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <label>
        Type
      </label>
      {{#x-select value=pet.type class="browser-default" }}
        {{#each pet_types as |pet_type| }}
          {{#x-option value=pet_type}}{{pet_type}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>
  <div class="row">
    <div class=" col s12">

      <input type="submit" value="Save" class='btn'>
    </div>
  </div>
</form>
