<nav class='teal lighten-2'>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo right">Ember Polymorph Firebase Testing</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li>{{#link-to 'owners'}}Owners{{/link-to}}</li>
    </ul>
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>